{% if settings.social_icon_1_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_1_name | capitalize }}" href="{{ settings.social_icon_1_link }}">
    {% if settings.social_icon_1_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_1_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_2_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_2_name | capitalize }}" href="{{ settings.social_icon_2_link }}">
    {% if settings.social_icon_2_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_2_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_3_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_3_name | capitalize }}" href="{{ settings.social_icon_3_link }}">
    {% if settings.social_icon_3_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_3_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_4_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_4_name | capitalize }}" href="{{ settings.social_icon_4_link }}">
    {% if settings.social_icon_4_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_4_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_5_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_5_name | capitalize }}" href="{{ settings.social_icon_5_link }}">
    {% if settings.social_icon_5_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_5_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_6_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_6_name | capitalize }}" href="{{ settings.social_icon_6_link }}">
    {% if settings.social_icon_6_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_6_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_7_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_7_name | capitalize }}" href="{{ settings.social_icon_7_link }}">
    {% if settings.social_icon_7_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_7_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}

{% if settings.social_icon_8_name != blank %}
<li>
  <a target="_blank" title="{{ settings.social_icon_8_name | capitalize }}" href="{{ settings.social_icon_8_link }}">
    {% if settings.social_icon_8_name == 'twitter' %}
    {% render 'twitter' %}
    {% else %}
    <i class="fab fa-{{ settings.social_icon_8_name }}"></i>
    {% endif %}
  </a>
</li>     
{% endif %}